

    <footer>
        <div class="container">
            <div class="footer-logo">
                <a href="#"><img src="images/logo.svg" alt=""></a>
            </div>
            <div class="footer-middle">
                <div class="grid">
                    <div class="grid-box">
                        <h2>Keep In Touch</h2>
                        <p>Sign up for news on our latest arrivals, <br> exclusive promotions and specials</p>
                        <div class="input-box">
                            <input type="email" name="" id="" placeholder="Email address"> <button>Sign Up</button>
                        </div>
                    </div>
                    <div class="grid-box menu-grid">
                        <div class="menu-box">
                            <h2>Main menu</h2>
                            <ul>
                                <li><a href="#">Apparel</a></li>
                                <li><a href="#">Headwear</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                        <div class="menu-box">
                            <h2>Follow us</h2>
                            <ul>
                                <li><a href="#"><img src="images/facebook_icon.svg" alt="">Facebook</a></li>
                                <li><a href="#"><img src="images/insta_icon.svg" alt="">Instagram</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <a href="#">Copyright © URBAN NORTH. Technology Partner Protocloud Technologies</a>
            </div>
        </div>
    </footer>
    
{% schema %}
  {
    "name": "URBAN NORTH FOOTER",
    "settings": []
  }
{% endschema %}