<p class="desc" style="text-align: center;">{{section.settings.heading}} 
          </p>

{% schema %}
  {
    "name": "Top Banner below Section",
    "settings": [
				                   
                  {
                      "type":"html",
                      "label":"Description",
                      "id":"heading"
                  }	


    ]
  }
{% endschema %}