{% include 'product' %}

<div>{{sasas}}</div>
{% schema %}
  {
    "name": "Empowering Section",
    "settings": [
				   
                  
                  {
                      "id": "slide_image1",
                      "type": "image_picker",
                      "label": "Image"
                  },
                  {
                      "type":"text",
                      "label":"Button text",
                      "id":"heading123456789"
                  },
                  {
                      "type":"text",
                      "label":"Button text",
                      "id":"heading1"
                  },
                  {
                      "type":"html",
                      "label":"Description",
                      "id":"heading12"
                  },
                  {
                      "type":"html",
                      "label":"Call Text",
                      "id":"heading1234"
                  }
                  

    ]
  }
{% endschema %}