

<section class="serviceSection container-width">
 {% section 'Services-manageyourown' %}
  
  <div class="row-border"></div>
  
  {% section 'services-creativedesign' %}
  
  <div class="row-border"></div>
  
  {% section 'services-decoration' %}
  
  <div class="row-border"></div>
   
   {% section 'services-company-stores' %}
  
  
</section>

