{% section 'decoration-banner-section' %}

      <section class="embroidery-section container-width">
          {% section 'decoration-below-banner' %}
        
          {% section 'decoration-fusionx-section' %}
        
         {% section 'decoration-3dx-section' %}
        
          {% section 'decoration-Embroidery-sec' %}          
          {% section 'decoration-Applique-section' %}
        
        {% section 'decoration-leather-patch-section' %}
        
        {% section 'decoration-crests-section' %}
           {% section 'decoration-screen-section' %}

               

               

      </section>

      {% section 'decoration-page-merch-section' %}






    </div>