{% section 'company-stores-banner-section' %}
		
	  {% section 'company-stores-On-Demand-section' %}

      {% section 'company-one-platform-sec' %}
		
		{% section 'company-manage-section' %}
		
		{% section 'company-empower-section' %}		
         
		{% section 'company-benefits-section' %}
		
		{% section 'company-demand-section' %}


              
{% section 'Company-stores-merch-section' %}






    </div>


